# Skompilowane pliki
*.o
*.exe
sentinel_test
bme680_test
pms5003_test
mpu6050_test

# Edytory
*.swp
.vscode/

# System
.DS_Store
Thumbs.db
# Go
services/ingest/ingest
.env
services/ingest/.env
docker/mosquitto/data/
docker/mosquitto/log/
docker/timescaledb/data/
services/ingest/ingest
*.bak
sentinel_gateway
